{% extends "base_page.html" %}
{%block title%} Home {%endblock%}

{%block username%} {{username}} {%endblock%}

{%block name%} {{name}} {%endblock%}

{%block head%}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

<link rel="stylesheet" href="{{url_for('static',filename='css/new_navCss.css')}}">




{%endblock head%}



{%block content %}



<div class="container-fluid">
    <div class="row row-cols-4" style="text-align: center;border: 1px solid;padding: 2px;">
        <div class="col">
            <a href="#" id="class_link">
                <div class="col" id="pre-k" style="border: 1px solid black;padding: 2px;" onclick="changeColor(1)">
                    <button class="btn btn-outline-info">Pre-K</button> <br/>
                    <div class="progress">
                        <div id="pbar_pre_k" class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%"></div>
                    </div>
                </div>  
            </a>
        </div>
        <div class="col">
            <a href="#">
                <div class="col" id="grade-k"  style="border: 1px solid black; padding: 2px;" onclick="changeColor(2)">
                    <button class="btn btn-outline-info">Grade-K</button> <br/>
                    <div class="progress">
                        <div id="pbar_k" class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%"></div>
                    </div>
                </div>  
            </a>
        </div>
        <div class="col">
            <a href="#">
                <div class="col" id="grade-1" style="border: 1px solid black;padding: 2px;" onclick="changeColor(3)">
                    <button class="btn btn-outline-info">Grade-1</button> <br/>
                    <div class="progress">
                        <div id="pbar_1" class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%"></div>
                    </div>
                </div>  
            </a>
        </div>
        <div class="col">
            <a href="#">
                <div class="col" id="grade-2" style="border: 1px solid black;padding: 2px;" onclick="changeColor(4)">
                    <button class="btn btn-outline-info">Grade-2</button> <br/>
                    <div class="progress">
                        <div id="pbar_2" class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%"></div>
                    </div>
                </div>  
            </a>

        </div>
    </div>
</div>


<div class="primary-nav">
    <button href="#" class="hamburger open-panel nav-toggle">
    <span class="screen-reader-text">Menu</span>
    </button>
    
        <nav role="navigation" class="menu">
    
            <a href="#" class="logotype">LOGO<span>TYPE</span></a>
    
            <div class="overflow-container">
    
                <ul class="menu-dropdown">
    
                    <li><a href="#">Dashboard</a><span class="icon"><i class="fa fa-dashboard"></i></span></li>
    
                    <li class="menu-hasdropdown">
                        <a href="#">Settings</a><span class="icon"><i class="fa fa-gear"></i></span>
    
                        <label title="toggle menu" for="settings">
            <span class="downarrow"><i class="fa fa-caret-down"></i></span>
          </label>
                        <input type="checkbox" class="sub-menu-checkbox" id="settings" />
    
                        <ul class="sub-menu-dropdown">
                            <li><a href="">Profile</a></li>
                            <li><a href="">Security</a></li>
                            <li><a href="">Account</a></li>
                        </ul>
                    </li>
    
                    <li><a href="#">Favourites</a><span class="icon"><i class="fa fa-heart"></i></span></li>
    
                    <li><a href="#">Messages</a><span class="icon"><i class="fa fa-envelope"></i></span></li>
    
                </ul>
    
            </div>
    
        </nav>
    
    </div>
    
    <div class="new-wrapper">
    
        <div id="main">
    
            <div id="main-contents">
    
                <h1>Multi-level Side Navigation</h1>
    
                <p class="intro"><strong>This is a multi-level side navigation pattern with hover and push</strong>. Hovering over the menu will reveal its lables and clicking the hamburger icon pins the menu open.</p>
    
                <h2>Checkbox Hack</h2>
    
                <p>I started by using the checkbox hack but ran into its limitations when I tried to implement the 'push' behaviour. It works for the secondary menus but the input element and its corresponding label can really only affect the adjacent element (i.e. I
                    couldn't target the page container to push it over). So, I added...</p>
    
                <h2>A Touch of jQuery</h2>
                <p>I'm sure this could be done with vanilla javascript, but that is not my strong suit. So here we are. You might be thinking, "Why not just use JQuery for all of the functionality?" Well, you can! Fork it and go nuts! Maybe drop me a line if you do.</p>
    
                <p class="small"><strong>This is small text</strong>. Lorem Ipsum is simply dummy text from the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                    it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularized in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    
            </div>
    
        </div>
    
    </div>







{%endblock content%}

{%block scripts%}

<script type="text/javascript" src="{{url_for('static',filename='js/new_navJs.js')}}">
</script>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>


{%endblock scripts%}